<div class="comment-top">
    <h4>Yorumunuzu Merak Ediyoruz!</h4>
    <div class="comment-bottom">
        <form action="/Comment/PartialAddComment/" method="post">
            <input class="form-control" type="text" name="CommentUserName" placeholder="Adınız-Soyadnız" required="">

            @*<input class="form-control" type="email" name="Email" placeholder="Mail" required="">*@

            <input class="form-control" type="text" name="CommentTitle" placeholder="Konu" required="">

            <textarea class="form-control" name="CommnetContent" placeholder="Mesajınız" required=""></textarea>
            <button type="submit" class="btn btn-primary submit">Gönder</button>
        </form>
    </div>
</div>